* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  margin-top: 40px;
}

a {
  text-decoration: none;
  color: black;
  padding: 15px 30px;
}
p {
  color: black;
  font-size: 20px;
}

#menu {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

#marcar {
  padding: 20px;
}
a {
  text-transform: uppercase;
}
#links {
  place-content: center;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
}
#links a {
  padding: 30px 15px;
  gap: 30px;
}

#painel {
  width: auto;
  justify-content: center;
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 1fr;
  padding-top: 30px;
}

#conteudo {
  text-align: right;
  align-items: center;
  justify-items: end;
  display: grid;
  position: relative;
  padding: 40px;
  height: 300px;
}

#conteudo h1 {
  align-self: end;
  padding-bottom: 18px;
}

#bicicleta {
  width: 500px;
  justify-self: left;
  grid-column: 2;
}

#vermais {
  background-color: #ee2211;
  border-radius: 4px;
  color: white;
  justify-self: end;
  align-self: start;
}

#detalhe {
  width: 60px;
  height: 4px;
  background: #e21;
  position: absolute;
  top: 20px;
  right: -30px;
}

#painel2 {
  margin-top: 65px;
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
}

#slogan {
  color: #c6c6c6;
  font-size: 64px;
  text-transform: uppercase;
  text-align: end;
  align-self: center;
  grid-column: 1;
  grid-row: 5 / -1;
  padding: 40px;
}

#caixas {
  margin-top: 60px;
  padding: 40px;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 20px;
}

#caixas img {
  grid-column: 1;
  position: relative;
  left: 10px;
  top: -2px;
}
#caixas p,
#caixas h3 {
  grid-column: 2;
}

footer {
  margin-top: 150px;
  padding: 30px;
  grid-column: 1/-1;
  text-align: center;
}
