* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
  background-color: #f7f7f7;
}

header {
  display: grid;
  gap: 2rem;
  justify-items: center;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  padding: 1rem 1.2rem;
  display: block;
}
p {
  color: black;
  font-size: 1.3rem;
}
header {
  display: grid;
  gap: 2rem;
  justify-items: center;
}
#marca {
  padding: 1.2rem;
}
a {
  text-transform: uppercase;
  display: block;
}
#nav {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
#nav li {
  margin: 0rem 1.5rem;
}

#nav a {
  background: #ffffff;
  padding: 1.1rem 1.2rem;
  gap: 30px;
  border: 2px solid transparent;
  display: block;
}
#nav a:hover {
  border: 2px solid #e21;
  border-radius: 4px;
}

.painel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));

  padding-top: 30px;
  max-width: 1000px;
}

.conteudo {
  display: grid;
  text-align: right;
  justify-content: end;
  justify-items: end;
  position: relative;
  padding: 40px;
}

.conteudo::after {
  content: "";
  width: 60px;
  height: 4px;
  background: #e21;
  position: absolute;
  top: 20px;
  right: -30px;
}

.conteudo h1 {
  align-self: end;
  font-size: 2rem;
  padding-bottom: 18px;
}

#bicicleta {
  max-width: 100%;
  display: block;
}
#cover img {
  object-fit: cover;
  height: 100%;
}

#vermais {
  background-color: #ee2211;
  border-radius: 4px;
  color: #fff;
  align-self: start;
  padding: 1.1rem 2rem;
}

#vermais:hover {
  background-color: #900;
}

.slogan {
  background-image: url(img/onda.svg);

  color: #c6c6c6;
  font-size: 64px;
  text-transform: uppercase;
  text-align: end;
  align-self: center;
  grid-column: 1;
  grid-row: 5 / -1;
  padding: 40px;
}
#caixas {
  padding: 60px 40px;
  display: grid;
  gap: 20px;
}
#caixas .caixa:nth-child(odd) {
  background-color: #f7f7f7;
}


.caixa {
  padding: 15px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  border-left: 3px solid transparent;
}

.caixa:hover {
  border-left: 3px solid rgb(177, 0, 0);
}

.caixa img {
  position: relative;
  left: 10px;
  top: -2px;
}
.caixa p,
.caixa h3 {
  grid-column: 2;
}
footer {
  background: #fff;
  width: 100%;

  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .painel-vantagem {
    grid-template-columns: 1fr;
  }

  #cover {
    margin: auto;
    max-width: 600px;
  }

  .slogan {
    text-align: center;
  }

  .caixa {
    justify-self: center;
  }
}

@media (max-width: 700px) {
  body {
    gap: 10px;
    margin-top: 10px;
  }

  .painel {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .conteudo::after {
    display: none;
  }

  header {
    gap: 10px;
  }
  .conteudo {
    gap: 10px;
    max-width: 500px;
    justify-items: center;
    text-align: start;
  }
  #introducao {
    text-align: center;
  }
  #vermais {
    justify-self: center;
  }
  .slogan {
    font-size: 3rem;
  }
}
