* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  margin-top: 40px;
  display: grid;
  gap: 20px;
  justify-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  padding: 1rem 1.2rem;
  display: block;
}
p {
  color: black;
  font-size: 1.3rem;
}

header {
  display: grid;
  gap: 2rem;
  margin-top: 1.3rem;
  justify-items: center;
}
#marca {
  padding: 1.2rem;
}
a {
  text-transform: uppercase;
}
#links li {
  margin: 0rem 1.5rem;
}

#links {
  padding: 1rem;
  gap: 30px;
  display: flex;
}
#links a {
  padding: 1.1rem 1.2rem;
  gap: 30px;
  border: 2px solid white;
}
#links a:hover {
  border: 2px solid #e21;
  border-radius: 4px;
}

.painel {
  justify-content: center;
  display: grid;
  grid-template-columns: 500px 500px;
  padding-top: 30px;
}

.conteudo {
  display: grid;
  text-align: right;
  justify-content: center;
  justify-content: end;
  position: relative;
  padding: 40px;
  height: 300px;
}

.conteudo::after {
  content: "";
  width: 60px;
  height: 4px;
  background: #e21;
  position: absolute;
  top: 20px;
  right: -30px;
}

.conteudo h1 {
  align-self: end;
  font-size: 2rem;
  padding-bottom: 18px;
}

#bicicleta {
  width: 500px;
  justify-self: left;
  grid-column: 2;
}

#vermais {
  background-color: #ee2211;
  border-radius: 4px;
  color: white;
  justify-self: end;
  align-self: start;
  padding: 1.1rem 2rem;
}

#vermais:hover {
  background-color: #900;
}

.slogan {
  background-image: url(img/onda.svg);

  color: #c6c6c6;
  font-size: 64px;
  text-transform: uppercase;
  text-align: end;
  align-self: center;
  grid-column: 1;
  grid-row: 5 / -1;
  padding: 40px;
}
#caixas {
  padding: 60px 40px;
  display: grid;
  gap: 20px;
}
#caixas .caixa:nth-child(odd) {
  background-color: #f7f7f7;
}

.caixa {
  padding: 15px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  border-left: 3px solid white;
}

.caixa:hover {
  border-left: 3px solid rgb(177, 0, 0);
}

.caixa img {
  grid-column: 1;
  position: relative;
  left: 10px;
  top: -2px;
}
.caixa p,
.caixa h3 {
  grid-column: 2;
}
footer {
  margin-top: 40px;
  padding: 30px;
  grid-column: 1/-1;
  text-align: center;
}
